In [39]:
# Importing necessary packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [40]:
import os  # Importing os
os.getcwd()

'C:\\Users\\Kiran\\Desktop\\Machine Learning'

In [41]:
# Getting the training and testing data

train_data = pd.read_csv('C://Users//Kiran//Desktop/train.csv')
test_data = pd.read_csv('C://Users//Kiran//Desktop/test.csv')
train_data.shape,test_data.shape

((4209, 378), (4209, 377))

# Train data

In [42]:
# Analysing the train data

train_data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [43]:
# Checking info

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [44]:
train_data.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Data Preprocessing

- Step 1: Checking and handling null values
- Step 2: Convering all data into an numeric array format

In [45]:
# checking for null values

train_data.isna().any()  # Result suggests there are no null values
test_data.isna().any()   # Results suggests there are no null values

ID      False
X0      False
X1      False
X2      False
X3      False
X4      False
X5      False
X6      False
X8      False
X10     False
X11     False
X12     False
X13     False
X14     False
X15     False
X16     False
X17     False
X18     False
X19     False
X20     False
X21     False
X22     False
X23     False
X24     False
X26     False
X27     False
X28     False
X29     False
X30     False
X31     False
        ...
X355    False
X356    False
X357    False
X358    False
X359    False
X360    False
X361    False
X362    False
X363    False
X364    False
X365    False
X366    False
X367    False
X368    False
X369    False
X370    False
X371    False
X372    False
X373    False
X374    False
X375    False
X376    False
X377    False
X378    False
X379    False
X380    False
X382    False
X383    False
X384    False
X385    False
Length: 377, dtype: bool

In [46]:
# Dropping columns with variance equal to 0

train_data.loc[:,'X10':'X385'].var()==0 # X11,X93,X107,X233,X235,X268,X289,X290,X293,X297,X330,X347
train_data.drop(['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'],axis = 1,inplace = True)

In [47]:
# A look of the training data after dropping all unnecessary columns

train_data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
11,32,98.12,al,r,e,f,d,f,h,o,...,0,0,0,0,0,0,0,0,0,0
12,34,82.62,s,b,ai,c,d,f,g,m,...,0,0,1,0,0,0,0,0,0,0
13,36,94.12,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
14,37,99.15,o,s,as,e,d,j,g,m,...,1,0,0,0,0,0,0,0,0,0
15,38,93.64,n,l,ak,f,d,j,d,k,...,0,0,0,0,0,0,0,0,0,0
16,39,106.10,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
17,40,114.13,ay,aa,as,c,d,j,c,d,...,0,0,1,0,0,0,0,0,0,0
18,44,89.81,f,c,m,c,d,j,d,e,...,0,0,1,0,0,0,0,0,0,0
19,47,90.81,n,a,ak,f,d,j,i,s,...,0,0,0,0,0,0,0,0,0,0
20,48,90.56,f,s,m,c,d,j,j,i,...,0,0,1,0,0,0,0,0,0,0
21,49,94.57,t,aa,as,d,d,j,j,s,...,0,1,0,0,0,0,0,0,0,0
22,50,108.14,x,r,a,b,d,j,j,o,...,1,0,0,0,0,0,0,0,0,0
23,52,120.77,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
24,54,84.84,y,r,ak,d,d,j,d,s,...,0,0,0,0,0,0,0,0,0,0
25,60,93.59,o,s,m,c,d,j,i,v,...,0,0,1,0,0,0,0,0,0,0
26,61,104.07,aj,l,as,f,d,j,g,j,...,0,0,0,0,0,0,0,0,0,0
27,62,89.37,t,aa,as,c,d,j,d,b,...,1,0,0,0,0,0,0,0,0,0
28,66,90.08,f,s,as,c,d,j,c,q,...,1,0,0,0,0,0,0,0,0,0
29,67,128.19,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4179,8354,85.93,al,a,ak,f,d,aa,l,t,...,0,0,0,0,0,0,0,0,0,0
4180,8356,90.45,ba,v,ai,a,d,aa,l,a,...,0,0,1,0,0,0,0,0,0,0
4181,8357,90.06,y,r,as,f,d,aa,g,v,...,0,0,0,0,0,0,0,0,0,0
4182,8362,90.38,z,v,ae,c,d,aa,g,r,...,1,0,0,0,0,0,0,0,0,0
4183,8367,95.56,z,aa,m,c,d,aa,l,s,...,1,0,0,0,0,0,0,0,0,0
4184,8368,109.00,w,s,as,c,d,aa,d,i,...,1,0,0,0,0,0,0,0,0,0
4185,8369,109.64,ak,v,ao,d,d,aa,g,p,...,0,1,0,0,0,0,0,0,0,0
4186,8371,131.98,j,f,ar,a,d,aa,j,n,...,0,0,1,0,0,0,0,0,0,0
4187,8373,98.15,aj,l,ae,f,d,aa,j,j,...,0,0,0,0,0,0,0,0,0,0
4188,8374,102.33,f,s,as,a,d,aa,d,t,...,0,0,1,0,0,0,0,0,0,0
4189,8375,102.42,aj,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4190,8378,89.11,n,s,ae,c,d,aa,j,f,...,1,0,0,0,0,0,0,0,0,0
4191,8382,88.93,z,v,ae,c,d,aa,d,r,...,1,0,0,0,0,0,0,0,0,0
4192,8383,103.03,aj,l,as,f,d,aa,j,n,...,0,0,0,0,0,0,0,0,0,0
4193,8384,107.24,ak,v,aw,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4194,8385,91.13,z,o,as,f,d,aa,i,j,...,0,0,0,0,0,0,0,0,0,0
4195,8387,86.23,o,l,ae,f,d,aa,g,j,...,0,0,0,0,0,0,0,0,0,0
4196,8390,99.93,y,o,m,f,d,aa,l,y,...,0,0,0,0,0,0,0,0,0,0
4197,8392,89.25,z,v,ae,c,d,aa,d,r,...,1,0,0,0,0,0,0,0,0,0
4198,8393,97.09,aw,a,ak,f,d,aa,h,o,...,0,0,0,0,0,0,0,0,0,0
4199,8395,88.24,t,aa,ay,c,d,aa,l,o,...,1,0,0,0,0,0,0,0,0,0
4200,8397,108.59,z,aa,e,c,d,aa,i,w,...,1,0,0,0,0,0,0,0,0,0
4201,8399,107.39,w,v,t,d,d,aa,h,g,...,0,1,0,0,0,0,0,0,0,0
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4203,8403,85.71,aq,s,as,c,d,aa,a,g,...,1,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [48]:
# Applying label encoder to convert categorical data into numeric

from sklearn.preprocessing import LabelEncoder
le =  LabelEncoder()
train_data['X0'] = le.fit_transform(train_data.X0)
train_data['X1'] =le.fit_transform(train_data.X1)
train_data['X2'] =le.fit_transform(train_data.X2)
train_data['X3'] =le.fit_transform(train_data.X3)
train_data['X4'] =le.fit_transform(train_data.X4)
train_data['X5'] =le.fit_transform(train_data.X5)
train_data['X6'] =le.fit_transform(train_data.X6)
train_data['X8'] =le.fit_transform(train_data.X8)

In [49]:
train_data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,32,23,17,0,3,24,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,32,21,19,4,3,28,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,20,24,34,2,3,27,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,20,21,34,5,3,27,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,3,12,3,13,...,0,0,0,0,0,0,0,0,0,0

In [50]:
lables =  train_data.iloc[:,1].values
lables

array([130.81,  88.53,  76.26, ..., 109.22,  87.48, 110.85])

In [51]:
# We will skip one hot encoding to improve model accuracy

In [52]:
# Extracting the features

features = train_data.drop(['y'],axis = 1).values
features

array([[   0,   32,   23, ...,    0,    0,    0],
       [   6,   32,   21, ...,    0,    0,    0],
       [   7,   20,   24, ...,    0,    0,    0],
       ...,
       [8412,    8,   23, ...,    0,    0,    0],
       [8415,    9,   19, ...,    0,    0,    0],
       [8417,   46,   19, ...,    0,    0,    0]], dtype=int64)

# Test Data

### Preprocessing the test data the same way as train data

In [53]:
#Checking for null values

test_data.isna().any() # The output of this function states that there is no null value in the dataset

ID      False
X0      False
X1      False
X2      False
X3      False
X4      False
X5      False
X6      False
X8      False
X10     False
X11     False
X12     False
X13     False
X14     False
X15     False
X16     False
X17     False
X18     False
X19     False
X20     False
X21     False
X22     False
X23     False
X24     False
X26     False
X27     False
X28     False
X29     False
X30     False
X31     False
        ...
X355    False
X356    False
X357    False
X358    False
X359    False
X360    False
X361    False
X362    False
X363    False
X364    False
X365    False
X366    False
X367    False
X368    False
X369    False
X370    False
X371    False
X372    False
X373    False
X374    False
X375    False
X376    False
X377    False
X378    False
X379    False
X380    False
X382    False
X383    False
X384    False
X385    False
Length: 377, dtype: bool

In [54]:
test_data.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [55]:
test_data.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [56]:
# Dropping the same columns as train data to maintain uniformity

test_data.drop(['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'],axis = 1,inplace = True)

In [57]:
test_data.head(2)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0

In [58]:
test_data.describe()

,ID,X10,X12,X13,X14,X15,X16,X17,X18,X19,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,0.111665,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,0.314992,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [59]:
test_data.shape

(4209, 365)

In [60]:
# Applying label Encoder


test_data['X0'] = le.fit_transform(test_data.X0)
test_data['X1'] =le.fit_transform(test_data.X1)
test_data['X2'] =le.fit_transform(test_data.X2)
test_data['X3'] =le.fit_transform(test_data.X3)
test_data['X4'] =le.fit_transform(test_data.X4)
test_data['X5'] =le.fit_transform(test_data.X5)
test_data['X6'] =le.fit_transform(test_data.X6)
test_data['X8'] =le.fit_transform(test_data.X8)

In [61]:
test_data.shape

(4209, 365)

In [62]:
test_data

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0
5,8,47,1,8,4,3,29,6,18,0,...,1,0,0,0,0,0,0,0,0,0
6,10,46,3,4,3,3,29,3,24,0,...,0,0,0,0,0,1,0,0,0,0
7,11,29,20,4,2,3,14,3,0,0,...,0,0,1,0,0,0,0,0,0,0
8,12,12,13,38,2,3,14,9,13,0,...,0,0,0,0,0,0,0,0,0,0
9,14,38,23,17,5,3,13,5,21,0,...,0,0,0,0,0,0,0,0,0,0
10,15,12,13,38,2,3,13,3,13,0,...,0,0,0,0,0,0,0,0,0,0
11,16,20,3,24,0,3,13,11,17,0,...,0,0,1,0,0,0,0,0,0,0
12,17,8,19,26,5,3,13,7,14,0,...,0,0,0,0,0,0,0,0,0,0
13,19,38,23,4,6,3,13,6,9,0,...,1,0,0,0,0,0,0,0,0,0
14,20,31,0,10,5,3,13,11,19,0,...,0,0,0,0,0,0,0,0,0,0
15,21,8,19,26,5,3,13,7,18,0,...,0,0,0,0,0,0,0,0,0,0
16,22,12,13,38,2,3,13,3,7,0,...,0,0,0,0,0,0,0,0,0,0
17,23,8,19,26,5,3,12,7,14,0,...,0,0,0,0,0,0,0,0,0,0
18,26,48,10,8,0,3,12,11,2,0,...,0,0,1,0,0,0,0,0,0,0
19,28,47,19,17,5,3,12,3,2,0,...,0,0,0,0,0,0,0,0,0,0
20,29,8,19,26,5,3,12,7,14,0,...,0,0,0,0,0,0,0,0,0,0
21,33,8,19,26,5,3,12,7,14,0,...,0,0,0,0,0,0,0,0,0,0
22,35,48,23,8,4,3,12,9,12,0,...,1,0,0,0,0,0,0,0,0,0
23,41,8,19,26,5,3,16,7,14,0,...,0,0,0,0,0,0,0,0,0,0
24,42,47,3,8,2,3,16,6,10,0,...,0,0,1,0,0,0,0,0,0,0
25,43,12,13,38,2,3,16,9,22,0,...,0,0,0,0,0,0,0,0,0,0
26,45,20,1,33,2,3,16,6,19,0,...,1,0,0,0,0,0,0,0,0,0
27,46,20,0,17,3,3,16,11,7,0,...,0,0,0,0,0,0,0,0,0,0
28,51,29,20,33,2,3,16,6,0,0,...,0,0,1,0,0,0,0,0,0,0
29,53,21,17,17,5,3,16,6,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4179,8361,19,23,10,2,3,1,6,12,0,...,1,0,0,0,0,0,0,0,0,0
4180,8363,6,13,17,5,3,1,8,2,0,...,0,0,0,0,0,0,0,0,0,0
4181,8364,42,3,33,0,3,1,9,22,0,...,0,0,1,0,0,0,0,0,0,0
4182,8365,48,3,4,0,3,1,3,4,0,...,0,0,1,0,0,0,0,0,0,0
4183,8366,27,10,17,0,3,1,11,9,0,...,0,0,1,0,0,0,0,0,0,0
4184,8370,46,1,17,0,3,1,9,21,0,...,0,0,1,0,0,0,0,0,0,0
4185,8372,9,16,4,5,3,1,8,6,0,...,0,0,0,0,0,0,0,0,0,0
4186,8376,48,1,33,2,3,1,8,18,0,...,1,0,0,0,0,0,0,0,0,0
4187,8377,46,16,40,2,3,1,9,7,0,...,0,0,0,0,0,0,0,0,0,0
4188,8379,46,19,17,5,3,1,3,5,0,...,0,0,0,0,0,0,0,0,0,0
4189,8380,41,3,33,0,3,1,3,15,0,...,0,0,1,0,0,0,0,0,0,0
4190,8381,7,9,17,5,3,1,6,16,0,...,0,0,0,0,0,0,0,0,0,0
4191,8386,41,1,8,2,3,1,9,22,0,...,1,0,0,0,0,0,0,0,0,0
4192,8388,20,1,17,2,3,1,11,14,0,...,1,0,0,0,0,0,0,0,0,0
4193,8389,29,17,10,2,3,1,9,7,0,...,1,0,0,0,0,0,0,0,0,0
4194,8391,45,6,17,0,3,1,6,21,0,...,0,0,1,0,0,0,0,0,0,0
4195,8394,48,23,0,1,3,1,9,1,0,...,1,0,0,0,0,0,0,0,0,0
4196,8396,6,13,17,5,3,1,9,4,0,...,0,0,0,0,0,0,0,0,0,0
4197,8398,20,19,33,5,3,1,6,15,0,...,0,0,0,0,0,0,0,0,0,0
4198,8400,7,6,17,0,3,1,9,0,0,...,0,0,1,0,0,0,0,0,0,0
4199,8401,8,16,27,5,3,1,3,6,0,...,0,0,0,0,0,0,0,0,0,0
4200,8404,8,19,26,5,3,1,11,20,0,...,0,0,0,0,0,0,0,0,0,0
4201,8407,38,13,17,5,3,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4202,8408,33,10,17,0,3,1,11,13,0,...,0,0,1,0,0,0,0,0,0,0
4203,8409,33,16,39,3,3,1,9,11,0,...,0,1,0,0,0,0,0,0,0,0
4204,8410,6,9,17,5,3,1,9,4,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,42,1,8,3,3,1,9,24,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,47,23,17,5,3,1,3,22,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,7,23,17,0,3,1,2,16,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,42,1,8,2,3,1,6,17,0,...,1,0,0,0,0,0,0,0,0,0

In [63]:
# We will skip on hot encoder again to maintain uniformity

In [64]:
#Extracting the features of test data

features_test = test_data.values
features_test

array([[   1,   21,   23, ...,    0,    0,    0],
       [   2,   42,    3, ...,    0,    0,    0],
       [   3,   21,   23, ...,    0,    0,    0],
       ...,
       [8413,   47,   23, ...,    0,    0,    0],
       [8414,    7,   23, ...,    0,    0,    0],
       [8416,   42,    1, ...,    0,    0,    0]], dtype=int64)

# Performing dimensional reduction using PCA
- Step 1. perform standardization.
- Step 2. Perform PCA using the number of features and components as the same. 
-

In [65]:
#Step1: Perform Standardization on features of train data

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
features = sc.fit_transform(features)

In [67]:
#performing PCA on train data

from sklearn.decomposition import PCA
principalComponentsFinal = PCA(n_components=1,random_state = 42)  #Here n_components = 1 because only one EVR is greater than 0.75
principalComponentsFinal.fit(features)

PCA(copy=True, iterated_power='auto', n_components=1, random_state=42,
  svd_solver='auto', tol=0.0, whiten=False)

In [68]:
features.shape,features_test.shape

((4209, 365), (4209, 365))

In [69]:
# Finding the final features on train data

Final_features = principalComponentsFinal.transform(features)

In [70]:
# Performing standardization and PCA for test data and extracting fina features


features_test = sc.fit_transform(features_test)
principalComponents2 = PCA(n_components=1,random_state = 42)  
principalComponents2.fit(features_test)
Final_features_test = principalComponents2.transform(features_test)

In [71]:
# generating the XG boost model as instructed

from xgboost import XGBRegressor

model = XGBRegressor()
model.fit(Final_features,lables)
    
model.score(Final_features,lables)
# The low accuracy is due to the number of features to the number of samples being low.
#If there is more data to correspond to the number features analyzed. We would've had a better accuracy.

[15:30:26] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

0.24769557019475585

In [72]:
# Predicting the test labels or the training data required on the bench
model.predict(Final_features_test)

array([ 89.04839, 100.40005,  85.43013, ..., 100.57413,  98.86195,
       107.94002], dtype=float32)